.paginator.pager.pagination {
    margin: 0.5em 0;
    display: inline-block;
}

footer {
    text-align: right;
    margin: 1.6em auto 4em auto;
    display: inline-block;
    float: right;
}

@media (max-width: 780px) {
    .paginator.pager.pagination {
        display: block;
    }

    footer {
        text-align: center;
        margin: 1.6em auto 4em auto;
        display: block;
        float: unset;
    }
}
